<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Voyage Website Template | Home :: w3layouts</title>
		<link href="../css/style.css" rel='stylesheet' type='text/css' />
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script src="../js/jquery.min.js"></script>
		<link rel="stylesheet" href="../css/jquery.bxslider.css" type="text/css" />
		<script src="../js/jquery.bxslider.js"></script>
			<script type="text/javascript">
				$(document).ready(function(){
					$('.bxslider').bxSlider({
						 auto: true,
 						 autoControls: true,
						 minSlides: 4,
						 maxSlides: 4,
						 slideWidth:450,
						 slideMargin: 10
					});
				});
			</script>
			<script type="text/javascript">
				$(document).ready(function(){
									$('a[href^="#"]').on('click',function (e) {
									    e.preventDefault();
									    var target = this.hash,
									    $target = $(target);
									    $('html, body').stop().animate({
									        'scrollTop': $target.offset().top
									    }, 1000, 'swing', function () {
									        window.location.hash = target;
									    });
									});
								});
				</script>
		<script type="text/javascript" src="../js/flexy-menu.js"></script>
		<script type="text/javascript">$(document).ready(function(){$(".flexy-menu").flexymenu({speed: 400,type: "horizontal",align: "right"});});</script>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css' />
	    <link rel="stylesheet" href="../css/fwslider.css" media="all" />
		<script src="../js/jquery-ui.min.js"></script>
		<script src="../js/css3-mediaqueries.js"></script>
		<script src="../js/fwslider.js"></script>
		<link rel="stylesheet" href="../css/jquery-ui.css" />
	</head>
	<body>
			<div class="top-header" id="header">
				<div class="wrap">
				<div class="top-header-left">
					<ul>
						<li th:if="${session.auth == null}"><span> </span><a class="reg" href="inscription.html">Inscription</a></li>
						<li th:if="${session.auth == null}"><span> </span><a class="reg" href="connexion.html">Connexion</a></li>
						<li th:if="${session.auth != null}"><span> </span><a class="reg" th:text="'Bienvenue ' + ${session.nomprenom}" /></li>
						<li th:if="${session.auth != null}"><span> </span><a class="reg" href="deconnexion.html">Déconnexion</a></li>
						<div class="clear"> </div>
					</ul>
				</div>
				<div class="top-header-right">
					<ul>
						<li><a class="face" href="#"><span> </span></a></li>
						<li><a class="twit" href="#"><span> </span></a></li>
						<li><a class="thum" href="#"><span> </span></a></li>
						<li><a class="pin" href="#"><span> </span></a></li>
						<div class="clear"> </div>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
			</div>
			<div class="header">
				<div class="wrap">
				<div class="logo">
					<a href="index.html"><img src="../images/logo.png" title="voyage" /></a>
				</div>
				<div class="top-nav">
						<ul class="flexy-menu thick orange">
							<li class="active"><a href="index.html">Home</a></li>
							<li><a href="destinations.html">Locations</a>
							</li>
						</ul>
						<div class="search-box">
							<div id="sb-search" class="sb-search">
								<form>
									<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search"></input>
									<input class="sb-search-submit" type="submit" value=""></input>
									<span class="sb-icon-search"></span>
								</form>
							</div>
						</div>
						<script src="../js/modernizr.custom.js"></script>
						<script src="../js/classie.js"></script>
						<script src="../js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
		<div class="images-slider">
		    <div id="fwslider">
		        <div class="slider_container">
		            <div class="slide"> 
		                    <img src="../images/slider-bg.jpg" alt=""/>
		                <div class="slide_content">
		                    <div class="slide_content_wrap">
		                        <h4 class="title">To travel is to live</h4>
		                        <p class="description">You Don't Need Magic to Disappear. All you need is a destination.</p>
		                        <div class="slide-btns description">
		                        	<ul>
		                        		<li><a class="mapbtn" href="#">Show on the map </a></li>
		                        		<li><a class="minfo" href="#">More info </a></li>
		                        		<div class="clear"> </div>
		                        	</ul>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            <div class="slide">
		                <img src="../images/slider-bg.jpg" alt=""/>
		                <div class="slide_content">
		                     <div class="slide_content_wrap">
		                        <h4 class="title">To travel is to live</h4>
		                        <p class="description">You Don't Need Magic to Disappear. All you need is a destination.</p>
		                        <div class="slide-btns description">
		                        	<ul>
		                        		<li><a class="mapbtn" href="#">Show on the map </a></li>
		                        		<li><a class="minfo" href="#">More info </a></li>
		                        		<div class="clear"> </div>
		                        	</ul>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="timers"> </div>
		        <div class="slidePrev"><span> </span></div>
		        <div class="slideNext"><span> </span></div>
		    </div>
		</div>
		<div class="find-place">
			<div class="wrap">
				<div class="p-h">
					<span>FIND YOUR</span>
					<label>HOLYDAYS</label>
				</div>
				  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
				  <script>
				  $(function() {
				    $( "#datepicker" ).datepicker();
				  });
				  </script>
				<div class="p-ww">
					<form>
						<span> Where</span>
						<input class="dest" type="text" value="Distination" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Distination';}"></input>
						<span> When</span>
						<input class="date" id="datepicker" type="text" value="Select date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Select date';}"></input>
						<input type="submit" value="Search" />
					</form>
				</div>
				<div class="clear"> </div>
			</div>
		</div>


		<div class="footer">
			<div class="wrap">
			<div class="footer-grids">
				<div class="footer-grid Newsletter">
					<h3>Team </h3>
					<p>Sébastien SY</p>
					<p>Julien WAZAN</p>
				</div>
				<div class="footer-grid Newsletter">
					<h3>Nouveautés </h3>
					<div class="news">
						<div class="news-pic">
							<img src="../images/f01.jpg" title="news-pic1" /> 
						</div>
						<div class="news-info">
							<a href="#">Nouvelle location disponible à Mulhouse</a>
							<span>3 novembre 2015</span>
						</div>
						<div class="clear"> </div>
					</div>
					<div class="news">
						<div class="news-pic">
							<img src="../images/f01.jpg" title="news-pic1" /> 
						</div>
						<div class="news-info">
							<a href="#">Nouvelle location disponible à Lille</a>
							<span>16 novembre 2015</span>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
				<div class="footer-grid tags">
					<h3>Tags</h3>
					<ul>
						<li><a href="inscription.html">Inscription</a></li>
						<li><a href="connexion.html">Connexion</a></li>
						<li><a href="index.html">Home</a></li>
						<li><a href="destinations.html">Location</a></li>
						<div class="clear"> </div>
					</ul>
				</div>
				<div class="footer-grid address">
					<h3>Adresse </h3>
					<div class="address-info">
						<span>Université Haute-Alsace </span><br/>
						<span>MIAGE Mulhouse</span><br/>
						<span>12, rue des Frères Lumière</span><br/>
						<span>68093 MULHOUSE Cedex</span>
					</div>
					<div class="footer-social-icons">
						<ul>
							<li><a class="face1 simptip-position-bottom simptip-movable" data-tooltip="facebook" href="#"><span> </span></a></li>
							<li><a class="twit1 simptip-position-bottom simptip-movable" data-tooltip="twitter" href="#"><span> </span></a></li>
							<li><a class="tub1 simptip-position-bottom simptip-movable" data-tooltip="tumblr" href="#"><span> </span></a></li>
							<li><a class="pin1 simptip-position-bottom simptip-movable" data-tooltip="pinterest" href="#"><span> </span></a></li>
							<div class="clear"> </div>
						</ul>
					</div>
				</div>
				<div class="clear"> </div>
			</div>
			</div>
		</div>

		<div class="subfooter">
			<div class="wrap">
				<ul>
					<li><a href="index.html">Home</a><span>::</span></li>
					<li><a href="destinations.html">Location</a><span></span></li>
					<div class="clear"> </div>
				</ul>
				<p class="copy-right">Template by <a href="http://w3layouts.com/">W3layouts</a></p>
				<a class="to-top" href="#header"><span> </span> </a>
			</div>
		</div>

	</body>
</html>

