<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Voyage Website Template | Home :: w3layouts</title>
		<link href="../css/style.css" rel='stylesheet' type='text/css' />
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script src="../js/jquery.min.js"></script>
		<link rel="stylesheet" href="../css/jquery.bxslider.css" type="text/css" />
		<script src="../js/jquery.bxslider.js"></script>
			<script type="text/javascript">
				$(document).ready(function(){
					$('.bxslider').bxSlider({
						 auto: true,
 						 autoControls: true,
						 minSlides: 4,
						 maxSlides: 4,
						 slideWidth:450,
						 slideMargin: 10
					});
				});
			</script>
			<script type="text/javascript">
				$(document).ready(function(){
									$('a[href^="#"]').on('click',function (e) {
									    e.preventDefault();
									    var target = this.hash,
									    $target = $(target);
									    $('html, body').stop().animate({
									        'scrollTop': $target.offset().top
									    }, 1000, 'swing', function () {
									        window.location.hash = target;
									    });
									});
								});
				</script>
		<script type="text/javascript" src="../js/flexy-menu.js"></script>
		<script type="text/javascript">$(document).ready(function(){$(".flexy-menu").flexymenu({speed: 400,type: "horizontal",align: "right"});});</script>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css' />
	    <link rel="stylesheet" href="../css/fwslider.css" media="all" />
		<script src="../js/jquery-ui.min.js"></script>
		<script src="../js/css3-mediaqueries.js"></script>
		<script src="../js/fwslider.js"></script>
		<link rel="stylesheet" href="../css/jquery-ui.css" />
	</head>
	<body>
			<div class="top-header" id="header">
				<div class="wrap">
				<div class="top-header-left">
					<ul>
						<li th:if="${session.auth == null}"><span> </span><a class="reg" href="inscription.html">Inscription</a></li>
						<li th:if="${session.auth == null}"><span> </span><a class="reg" href="connexion.html">Connexion</a></li>
						<li th:if="${session.auth != null}"><span> </span><a class="reg" th:text="'Bienvenue ' + ${session.nomprenom}" /></li>
						<li th:if="${session.auth != null}"><span> </span><a class="reg" href="deconnexion.html">Déconnexion</a></li>
						<div class="clear"> </div>
					</ul>
				</div>
				<div class="top-header-right">
					<ul>
						<li><a class="face" href="#"><span> </span></a></li>
						<li><a class="twit" href="#"><span> </span></a></li>
						<li><a class="thum" href="#"><span> </span></a></li>
						<li><a class="pin" href="#"><span> </span></a></li>
						<div class="clear"> </div>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
			</div>
			<div class="header">
				<div class="wrap">
				<div class="logo">
					<a href="index.html"><img src="../images/logo.png" title="voyage" /></a>
				</div>
				<div class="top-nav">
						<ul class="flexy-menu thick orange">
							<li class="active"><a href="index.html">Home</a></li>
							<li><a href="">Destinations</a>
								<ul>
								<li><a href="destinations.html">Dropdown item</a></li>
								<li><a href="destinations.html">Dropdown item</a></li>
								<li><a href="destinations.html">Dropdown item</a>
									<ul>
										<li><a href="destinations.html">Dropdown item</a></li>
										<li><a href="destinations.html">Dropdown item</a>
											<ul>
												<li><a href="destinations.html">Dropdown item</a></li>
												<li><a href="destinations.html">Dropdown item</a></li>
												<li><a href="destinations.html">Dropdown item</a></li>
												<li><a href="destinations.html">Dropdown item</a></li>
											</ul>
										</li>
										<li><a href="#">Dropdown item</a></li>
										<li><a href="#">Dropdown item</a></li>
									</ul>
								</li>
								<li><a href="#">Dropdown item</a></li>
								<li><a href="#">Dropdown item</a></li>
							</ul>
							</li>
							<li><a href="criuses.html">Criuses</a></li>
							<li><a href="destinations.html">Specials</a></li>
							<li><a href="destinations.html">Holidays</a></li>
							<li><a href="blog.html">Blog</a></li>
						</ul>
						<div class="search-box">
							<div id="sb-search" class="sb-search">
								<form>
									<input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search"></input>
									<input class="sb-search-submit" type="submit" value=""></input>
									<span class="sb-icon-search"></span>
								</form>
							</div>
						</div>
						<script src="../js/modernizr.custom.js"></script>
						<script src="../js/classie.js"></script>
						<script src="../js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
		
		<div class="inscription">
		<div class="wrap">
		<div class="p-ww">
		<!--  lorsqu'on s'inscrit, on cree un user et on retourne dans la page index -->
					<form action="#" th:action="@{/inscription}" th:object="${user}" method="post">
						<table>
							<tr><td><p>Nom : </p></td></tr>
							<tr><td width="50%"><input style="width:90%;" type="text" th:field="*{nomUser}" ></input></td>
			                <td width="50%" th:if="${#fields.hasErrors('nomUser')}" th:errors="*{nomUser}">Name error</td></tr>
							
							<tr><td><p>Prénom : </p></td></tr>
							<tr><td width="50%"><input style="width:90%;" type="text" th:field="*{prenomUser}" ></input></td>
			                <td width="50%" th:if="${#fields.hasErrors('prenomUser')}" th:errors="*{prenomUser}">Name error</td></tr>
							
							
							<tr><td><p>Email : </p></td></tr>
							<tr><td width="50%"><input style="width:90%;" type="text" th:field="*{emailUser}"></input></td>
			                <td width="50%" th:if="${#fields.hasErrors('emailUser')}" th:errors="*{emailUser}">Name error</td></tr>
							
							
							<tr><td><p>Mot de passe : </p></td></tr>
							<tr><td width="50%"><input style="width:90%;" type="password" name="mdp" th:field="*{mdpUser}"></input></td>
			                <td width="50%" th:if="${#fields.hasErrors('mdpUser')}" th:errors="*{mdpUser}">Name error</td></tr>
							
							<!-- <p>Date de naissance : </p>
							<input type="text" name="dnaiss" th:field="*{dateNaissUser}"></input>-->
							
							<tr><td><p>Téléphone : </p></td></tr>
							<tr><td width="50%"><input style="width:90%;" type="text" name="tel" th:field="*{telUser}"></input></td>
			                <td width="50%" th:if="${#fields.hasErrors('telUser')}" th:errors="*{telUser}">Name error</td></tr>
							
							<tr><td><input type="submit" value="Valider" /></td></tr>
					
						</table>
					</form>
		</div>
		<div class="clear"> </div>
		</div>
		</div>

		

		<div class="subfooter">
			<div class="wrap">
				<ul>
					<li><a href="index.html">Home</a><span>::</span></li>
					<li><a href="destinations.html">Destinations</a><span>::</span></li>
					<li><a href="criuses.html">Criuses</a><span>::</span></li>
					<li><a href="destinations.html">Specils</a><span>::</span></li>
					<li><a href="destinations.html">Holidays</a><span>::</span></li>
					<li><a href="blog.html">Blog</a><span>::</span></li>
					<li><a href="contact.html">Contact Us</a></li>
					<div class="clear"> </div>
				</ul>
				<p class="copy-right">Template by <a href="http://w3layouts.com/">W3layouts</a></p>
				<a class="to-top" href="#header"><span> </span> </a>
			</div>
		</div>

	</body>
</html>

